[options]
CleanMethod = KeepCurrent
CacheDir = /var/cache/pacman/pkg
{%- for repo in repos %}
CacheDir = /home/pkgs/{{ repo }}
{%- endfor %}
{% for repo in repos %}
[{{ repo }}]
SigLevel = Optional TrustAll
Server = file:///home/pkgs/{{ repo }}
{% endfor %}
