[options]
CleanMethod = KeepCurrent
CacheDir = /var/cache/pacman/pkg
{%- for repo in salt['pillar.get']('repos', []) %}
CacheDir = /home/pkgs/{{ repo }}
{%- endfor %}
{% for repo in salt['pillar.get']('repos', []) %}
[{{ repo }}]
SigLevel = Optional TrustAll
Server = file:///home/pkgs/{{ repo }}
{% endfor %}
