[Unit]
Description=Pacman mirrorlist update
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --save /etc/pacman.d/mirrorlist\
{%- for protocol in config.get('protocols', ['http', 'https']) %}
 --protocol {{ protocol }}\
{%- endfor %}
{%- for country in config.get('countries', []) %}
 --country {{ country }}\
{%- endfor %}
 --latest {{ config.get('limit', 200) }}\
 --number {{ config.get('count', 5) }}\
 --sort {{ config.get('sort', 'rate') }}

[Install]
RequiredBy=multi-user.target
