hwaccel
session-control

palette={{ config.theme }}
font-name={{ config.font_name }}
font-size={{ config.font_size }}

xkb-variant=altgr-intl
xkb-options=lv3:ralt_switch,ctrl:nocaps
xkb-repeat-delay=0
xkb-repeat-rate=10
